html,body{
	width: 100%;
	height: 100%;
}

.wrap_container{
	width: 100%;
	height: 100%;
	position: relative;
}
.hui_saveCode{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 8px solid rgba(247,247,247,1);
}

.hui_qrImgBox{
	width: 50%;
	box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.1);
border-radius:10px;
margin:0 auto;

margin-bottom: 15px;
}
.hui_qrImgBox img{
	width: 100%;

}
.hui_w1{
	font-size:12px;
font-family:Source Han Sans SC;
font-weight:400;
color:rgba(150,150,150,1);
}