html,body{
	width: 100%;
	height: 100%;
}

.wrap_container{
	width: 100%;
	height: 100%;
	position: relative;
	background: #ff984e;
}
.mui_Content{
	height: calc(100% - 48px)!important;
	height: -webkit-calc(100% - 48px)!important;
}
.hui_w1{
	    font-size: 28px;
    font-family: DIN Next W1G;
    font-weight: 500;
    color: rgba(255,127,0,1);
    /* margin-bottom: 13px; */
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.hui_w2{
	font-size:12px;
	font-family:Source Han Sans SC;
	font-weight:400;
	color:rgba(150,150,150,1);
	  margin-bottom: 26px;
	text-align: center;
}
.hui_w3{
	margin-left: 12px;
	font-size:14px;
	font-family:Source Han Sans SC;
	font-weight:400;
	color:rgba(50,50,50,1);
	margin-bottom: 10px;
}

.hui_inputType2{
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 10px;
	border:1px solid rgba(220,220,220,1);
	padding-left: 7px;
	height: 35px;
	position: relative;
	border-right: 0;
}
.hui_inputType2 input{
	padding-bottom: 0!important;
	padding-top: 0!important;
	padding-right: 0!important;
	height: 100%;
	width: calc(100% - 82px)!important;
	width: -webkit-calc(100% - 82px)!important;
}
.hui_copy{
	width: 80px;
	text-align: center;
	line-height: 35px;
	height: 35px;
	background:rgba(118,199,250,1);
	color: #fff;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top:0;
	right: 0;
}
.hui_w4{
	font-size:14px;
font-family:Source Han Sans SC;
font-weight:400;
color:rgba(50,50,50,1);
    margin-bottom: 9px;
    margin-left: 13px;
    margin-top: 20px;
}
.hui_w5{
    font-family: Source Han Sans SC;
    font-weight: 400;
    color: rgba(100,100,100,1);
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: 13px;
}

.huiTop2{
	box-shadow: none!important;
	bottom: 87px!important;
}
.huiTop1{
	box-shadow: none!important;
	background:#76c7f9!important;
}